:host {
  display: block;
}

.divider {
  position: relative;
  display: block;
  border: 0;
  margin: var(--m-6) var(--m-0);
  height: var(--thickness-1);
  background: var(--line);
  border-radius: var(--radius-inf);
  width: 100%;
}

:host([variant="default"]) .divider {
  height: var(--thickness-1);
}
:host([variant="strong"]) .divider {
  height: var(--thickness-2);
}
